html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  box-sizing: inherit;
  background-color: #2b2727;
  font-size: 2rem; }

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
  margin: 5rem auto;
  color: aliceblue; }
  @media (max-width: 1000px) {
    .form {
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center; } }
  @media (max-width: 1600px) {
    .form {
      width: 100%; } }
  .form .form-basic-info {
    display: flex;
    flex-direction: column; }
    @media (max-width: 1000px) {
      .form .form-basic-info {
        align-items: left; } }
    .form .form-basic-info .custom-input {
      width: 40rem;
      line-height: 2;
      font-size: 2rem;
      padding: .5rem .5rem;
      outline: none;
      border: 1.5px solid aliceblue;
      background-color: #333030;
      border-radius: 1rem;
      color: aliceblue; }
      @media (max-width: 1000px) {
        .form .form-basic-info .custom-input {
          width: 30rem; } }
      .form .form-basic-info .custom-input:not(:last-child) {
        margin-bottom: 1rem; }
    .form .form-basic-info .custom-select {
      width: 41.5rem; }
      @media (max-width: 1000px) {
        .form .form-basic-info .custom-select {
          width: 31.5rem; } }
    .form .form-basic-info .form-row {
      margin-bottom: 2rem; }
    .form .form-basic-info .form-box {
      border: none; }
      @media (max-width: 1000px) {
        .form .form-basic-info .form-box {
          display: flex;
          flex-direction: column;
          justify-content: center; } }
  .form .right {
    margin-left: 10rem; }
    @media (max-width: 1000px) {
      .form .right {
        margin-left: 0; } }
